/* Video */
/**********************************************************************************************************************/

.news-video-wrapper
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 3em 0 0 0;
}

    /*Preloading images*/
/**********************************************************************************************************************/

.img_preload
{

}
