AddDefaultCharset utf-8
RewriteEngine on
RewriteRule ^index.html index.php [L]
RewriteRule ^news.html$ index.php?route=news&item=all [L]
RewriteRule ^news/([a-zA-Z0-9_-]+.html)$ index.php?route=news&item=$1 [L]
RewriteRule ^articles.html$ index.php?route=article&item=all [L]
RewriteRule ^articles/([a-zA-Z0-9_-]+.html)$ index.php?route=article&item=$1 [L]
RewriteRule ^concurs.html$ index.php?route=concurs&item=all [L]
RewriteRule ^concurs/2018-nnm/vote.html$ index.php?route=concurs&item=2018-nnm [L]
RewriteRule ^concurs/2019-catbook/vote.html$ index.php?route=concurs&item=2019-catbook [L]
RewriteRule ^concurs/2019-pr/vote.html$ index.php?route=concurs&item=2019-pr-choice [L]
RewriteRule ^concurs/2019-pr/vote-pictures.html$ index.php?route=concurs&item=2019-pr-pictures [L]
RewriteRule ^concurs/2019-pr/vote-works.html$ index.php?route=concurs&item=2019-pr-works [L]
#RewriteRule ^concurs/([a-zA-Z0-9_-])/([a-zA-Z0-9_-]+.html)$ index.php?route=concurs&item=$1&page=$2 [L]
RewriteRule ^concurs/([a-zA-Z0-9_-]+.html)$ index.php?route=concurs&item=$1 [L]
RewriteRule ^afisha/([a-zA-Z0-9_-]+.html)$ index.php?route=afisha&item=$1 [L]
RewriteRule ^filials.html$ index.php?route=filials [L]
RewriteRule ^filials/([a-zA-Z0-9_-]+.html)$ index.php?route=filials&item=$1 [L]
RewriteRule ^readers/([a-zA-Z0-9_-]+.html)$ index.php?route=readers&item=$1 [L]
RewriteRule ^about/([a-zA-Z0-9_-]+.html)$ index.php?route=about&item=$1 [L]
RewriteRule ^appeals/([a-zA-Z0-9_-]+.html)$ index.php?route=appeals&item=$1 [L]
RewriteRule ^about/structure/([a-zA-Z0-9_-]+.html)$ index.php?route=structure&item=$1 [L]
RewriteRule ^work/([a-zA-Z0-9_-]+.html)$ index.php?route=work&item=$1 [L]
RewriteRule ^reading/recommendation/([a-zA-Z0-9_-]+.html)$ index.php?route=reading&item=$1 [L]
RewriteRule ^books-of-month.html$ index.php?route=books-of-month [L]
RewriteRule ^projects.html$ index.php?route=projects [L]
RewriteRule ^projects/([a-zA-Z0-9_-]+.html)$ index.php?route=projects&item=$1 [L]
RewriteRule ^projects/virtual-tour/([a-zA-Z0-9_-]+.html)$ index.php?route=projects&item=$1 [L]
RewriteRule ^projects/lit-map/([a-zA-Z0-9_-]+.html)$ index.php?route=lit-map-author&item=$1 [L]
RewriteRule ^projects/play/([a-zA-Z0-9_-]+.html)$ index.php?route=projects&item=$1 [L]
RewriteRule ^print.html$ index.php?route=print [L]
RewriteRule ^publish.html$ index.php?route=publish [L]
RewriteRule ^person/([a-zA-Z0-9_-]+.html)$ index.php?route=person&item=$1 [L]
RewriteRule ^events/([a-zA-Z0-9_-]+.html)$ index.php?route=events&item=$1 [L]
#Must be disable on local server
#RewriteRule ^news_add.php$ / [QSA,R]