/* UI */
/**********************************************************************************************************************/

/* Buttons */

div.green
{

	color: #fff;
	display: inline-block;
	width: 35px;
	height: 35px;
	margin: .6em;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;

	float: left;
	text-decoration: none;

	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);

	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);

	-webkit-transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
	transition: background-color 0.1s linear;
}
div.green
{
	background-color: rgb( 43, 153, 91 );
	border: 1px solid rgb( 33, 126, 74 );
}

div.green:hover
{
	cursor: pointer;
	background-color: rgb( 75, 183, 141 );
}



/* Buttons img */

#but-make-dir
{
	background: url('../images/ui/add-folder.png') no-repeat;
}

#images-prepare
{
	background: url('../images/ui/wheel.png') no-repeat;
}

#but-clr-all
{
	background: url('../images/ui/clear.png') no-repeat;
}


/* Preloader */

#preloader_h
{
	display: none;
}

.preloader
{
	width: 160px;
	margin: 0 auto;
}

